---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import data from '../data/data.json';

const banners = [
  {
    small: "https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/99707b09-9694-4bc1-1b77-a0d2c4990f00/public",
    url: "/categoria/face/anti-pigment/4"
  },
  {
    small: "https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/c1d1ade2-1a80-47a0-274e-2786ce89ef00/public",
    url: "/categoria/face/hyaluron-filler%20%2B%203x%20effect/10"
  },
  {
    small: "https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/7c44af81-bf74-4ffd-2541-f1f4dd258c00/public",
    url: "/categoria/face/dermopure/6"
  }
];

// Filtra las categorías desde el JSON
const categories = data.categories.map((category) => ({
  ...category,
  img: `https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/${category.icon}/public`
}));
---

<Layout title="Catálogo Eucerin">
  <main>
    <!-- Title Section -->
    <div class="text-custom-color bg-custom-color">
      <h1 class="text-2xl md:text-3xl font-bold text-center" style="margin-bottom: 20px; padding:5px 0;">Conoce nuestras últimas innovaciones</h1>
    </div>
  
    <!-- Responsive Image Row Section -->
    <div class="flex flex-wrap justify-center items-center p-">
      {banners.map((banner, index) => (
        <div class="flex-shrink-0 min-w-[250px] md:min-w-[200px] lg:min-w-[250px] xl:w-[300px] mx-2 my-2">
          <a href={banner.url}>
            <img src={banner.small} alt={`Banner ${index + 1}`} class="w-full h-auto object-cover rounded-lg shadow-lg" />
          </a>
        </div>
      ))}
    </div>

    <!-- Header Section -->
    <div class="flex flex-col items-center w-full text-custom-color bg-custom-color py-2 px-4">
      <h1 class="text-3xl md:text-3xl font-bold text-center">DESCUBRE NUESTRO CATÁLOGO</h1>
    </div>

    <!-- Categories Section -->
    <div class="flex flex-wrap justify-center" style="margin: 40px 0;">
      {categories.map((category) => (
        <a href={`/categoria/${category.name.toLowerCase()}`} style="text-decoration: none; margin: 10px 10px">
          <Card
            width="240px"
            height="270px"
            maxHeight="200px"
            color={category.color}
            img={category.img}
            name={category.name}
			imgWidth="100%"
          />
        </a>
      ))}
    </div>
  </main>
</Layout>

<style is:global>

  /* Color personalizado */
  .text-gray-custom {
    color: #223341;
  }

  .border-gray-custom {
    border-color: #878C92;
  }

  /* Ajuste de márgenes para separación */
  .flex-wrap > div {
    margin: 0 10px; /* Margen horizontal entre imágenes */
    margin-bottom: 20px; /* Margen vertical entre filas de imágenes */
  }

  /* Adaptaciones de ancho para diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .flex-wrap div {
      width: 100%;
      max-width: 300px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .flex-wrap div {
      width: 45%;
    }
  }

  @media (min-width: 1025px) {
    .flex-wrap div {
      width: 30%;
    }
  }
</style>
