---
import Card from './Card.astro';

const translateCategoryName = (name: string) => {
  if (name === "Baby") return "Bebé / Piel Seca";
  return name;
};

// Define el tipo para `category`
interface CategoryType {
  name: string;
  color: string;
  subcategories: {
    name: string;
    description: string;
    icon: string;
    color: string;
  }[];
}

// Asegura que `category` cumple con el tipo `CategoryType`
const { category } = Astro.props as { category: CategoryType };
---

<header style={`background-color: ${category.color}; padding: 2rem; text-align: center; color: white;`}>
  <h1 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 0.5rem;">
    {translateCategoryName(category.name)}
  </h1>
</header>

<!-- Solo muestra el GIF si la categoría es "Faciales" -->
{category.name === "Faciales" && (
  <div>
    <img src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/0546b636-1208-4ed1-09fe-b9e9dd919a00/public" style="width: 100%;" />
  </div>
)}

<section style="display: flex; flex-wrap: wrap; justify-content: center; margin: 10px 0;">
  {category.subcategories.map((subcategory) => (
    <div style="margin: 15px;">
      <a href={`/categoria/${category.name.toLowerCase()}/${subcategory.name.toLowerCase()}`} style="text-decoration: none;">
        <Card
          key={subcategory.name}
          width="250px"
          height="500px"
          maxHeight="290px"
          name={subcategory.name}
          description={subcategory.description}
          img={`https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/${subcategory.icon}/public`}
          color={subcategory.color}
          imgWidth="65%"
        />
      </a>
    </div>
  ))}
</section>

<!-- Imágenes de navegación -->
<div style="display: flex; justify-content: center; margin: 10px 0 40px 0;">
  <!-- Botón para regresar a la página anterior -->
  <a href="/" style="margin: 0 40px 0 0;">
    <img src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/67bb6f2c-4b78-4552-ff1a-259601741900/public" alt="Regresar" style="width: 50px; height: auto;" />
  </a>

  <!-- Botón para regresar a la página de inicio -->
  <a href="/" style="margin: 0 0 0 40px;">
    <img src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/5825f952-6751-4012-b299-eaf994106600/public" alt="Inicio" style="width: 50px; height: auto;" />
  </a>
</div>
