---
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../components/Card.astro';
import data from '../../../data/data.json';

// Define el tipo de los parámetros de la ruta
interface Params {
  category: string;
  subcategory: string;
}

// Castea Astro.params a nuestro tipo definido
const { category, subcategory } = Astro.params as Params;

export async function getStaticPaths() {
  // Genera una lista de rutas basadas en categorías y subcategorías
  const paths = data.categories.flatMap((category) =>
    category.subcategories.map((subcategory) => ({
      params: {
        category: category.name.toLowerCase(),
        subcategory: subcategory.name.toLowerCase(),
      },
    }))
  );

  // Retorna los paths en el formato esperado por Astro
  return paths; // Asegúrate de envolver paths en un objeto
}

// Encuentra la categoría y subcategoría correspondiente en los datos JSON
const categoryData = data.categories.find((cat) => cat.name.toLowerCase() === category.toLowerCase());
if (!categoryData) {
  throw new Error(`Categoría "${category}" no encontrada`);
}

const subcategoryData = categoryData.subcategories.find((sub) => sub.name.toLowerCase() === subcategory.toLowerCase());
if (!subcategoryData) {
  throw new Error(`Subcategoría "${subcategory}" no encontrada`);
}
---

<Layout title={`Subcategoría: ${subcategoryData.name}`}>
  <header style={`background-color: ${subcategoryData.color}; padding: 2rem; text-align: center; color: white;`}>
    <h1 style="font-size: 2.5rem; font-weight: bold; margin-bottom: 0.5rem;">{subcategoryData.name}</h1>
    <p>{subcategoryData.description}</p>
  </header>

  <section style="display: flex; flex-wrap: wrap; justify-content: center; margin: 10px 0;">
    {subcategoryData.products.map((product) => (
      <div style="margin: 15px;">
        <a href={`/categoria/${encodeURIComponent(category)}/${encodeURIComponent(subcategory)}/${product.index}`}>
          <Card
            key={product.name}
            width="250px"
            height="600px"
            maxHeight="225px"
            name={product.name}
            description={product.description}
            img={`https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/${product.image}/public`}
            color={subcategoryData.color}
            imgWidth="65%"
          />
        </a>
      </div>
    ))}
  </section>

  <!-- Imágenes de navegación -->
  <div style="display: flex; justify-content: center; margin: 10px 0 40px 0;">
    <a href={`/categoria/${category.toLowerCase()}`} style="margin: 0 40px 0 0;">
      <img src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/67bb6f2c-4b78-4552-ff1a-259601741900/public" alt="Regresar" style="width: 50px; height: auto;" />
    </a>
    <a href="/" style="margin: 0 0 0 40px;">
      <img src="https://imagedelivery.net/igeTCv6NpihMSigS0bbQIQ/5825f952-6751-4012-b299-eaf994106600/public" alt="Inicio" style="width: 50px; height: auto;" />
    </a>
  </div>
</Layout>
